@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
    overflow-x: hidden;
}
.padding{
    padding-bottom: 2rem;
}
/* Navbar */
.navbar{
    padding: .8rem;
}
.navbar-nav li{
    padding-right: 20px; 
}
.nav-link{
    font-size: 1.1em !important;
}
/* Image Slider */
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000; 
    padding-bottom: 1rem;
}
.btn-primary{
    background-color: #6648b1;
    border: 1px solid #6648b1;
}
.btn-primary:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
    transform: translateY(5px);
}
/* Jumbotron */
.jumbotron{
    padding: 1rem;
    border: 0;
}
/* Welcome Section */
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

/* Three Columns Section */
.fa-code{
    color: #e54d26;
}
.fa-bootstrap{
    color: #563d7c;
}
.fa-css3{
    color: #2163af;
}
.fa-bootstrap, .fa-code, .fa-css3{
    font-size: 4em;
    margin: 1rem;
}

/* Emoji Section */
.fun{
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 0;
    border: 1px solid #d5d5d5;
}
.gif{
    max-width: 100%;
}
/* Connect */
.social a{
    font-size: 4.5rem;
    padding: 3rem;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #00aced;
}
.fa-google-plus-g{
    color: #dd4b39;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #00aced;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-google-plus-g:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}

/* footer */
footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

/*---------------------------Media Queries-------------------------------*/
@media (max-width:992px){
    .social a{
        font-size: 4em;
        padding: 2rem ;
    }
}

@media (max-width:768px){
    .carousel-caption{
        top: 45%;
    }
    .carousel-caption h1{
        font-size: 350%;
        text-transform: uppercase;
        text-shadow: 1px 1px 15px #000;
    }
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 500;
        text-shadow: 1px 1px 10px #000;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4{
        font-size: 200%;
    }
    .social a{
        font-size: 2.5rem;
        padding: 1.2rem;
    }
}

@media (max-width:576px){
    .carousel-caption{
        top: 40%;
    }
    .carousel-caption h1{
        font-size: 250%;
    }
    .carousel-caption h3{
        font-size: 110%;
    }
    .carousel-caption .btn{
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators{
        display: none;
    }
}
